<div class="mt-5">
    <div class="container center-field">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-books">

        <!-- titulo Column -->
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- autor Column -->
        <ng-container matColumnDef="autor">
            <th mat-header-cell *matHeaderCellDef> autor </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>

        <!-- genero Column -->
        <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef> genero </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <!-- cantidad de paginas Column -->
        <ng-container matColumnDef="cantidad de paginas">
            <th mat-header-cell *matHeaderCellDef> cantidad de paginas </th>
            <td mat-cell *matCellDef="let element"> {{element.page_count}} </td>
        </ng-container>

        <!-- editor Column -->
        <ng-container matColumnDef="editor">
            <th mat-header-cell *matHeaderCellDef> editor </th>
            <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
        </ng-container>

        <!-- fecha de publicación Column -->
        <ng-container matColumnDef="fecha de publicación">
            <th mat-header-cell *matHeaderCellDef> fecha de publicación </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>