.table-books {
    margin: auto;
    width: 80%;
    margin-top: 20px;
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.center-field {
    text-align: center;
}